
@font-face {
  font-family: OpenSans;
  src: url(./OpenSans-Regular.ttf);
}
body {
  padding: 50px;
  font: 14px "OpenSans", Helvetica, Arial, sans-serif;
  color: #5b5a5f;
  letter-spacing: 1px;
  position: absolute;
  width: 100%;
  height: 100%;
}

a {
  color: #6abde2;
}
th{
  padding: 5px;
  line-height: 1.5em;
}
.result tr:hover{
  background-color: #f1f1f1;
}
.form-control.input, .input-group .form-control.input{
  width: 200px;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 4px;
}
.result{
  max-height: calc(100% - 100px);
  overflow-y: auto;
}
#search-form{
  width: 900px;
  margin: auto;
  height: 100px;
}
#search-form .input-group.date{
  width: 200px;
  float: left;
}
.search-label{
  float: left;
}
#search-form .input-group-addon{
  width: 0px;
  padding: 0px;
  border: none;
}
.preload{
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
}
.th-airline-name{
  font-size: 16px;
  color: #6abde2;
}
.btn {
  background-color: #6abde2;
  border: none;
  color: #ffffff;
  margin-top: 30px;
}
.country-name{
  font-size: 18px;
  color: #000000;
}
.city-name{
  font-size: 16px;
  color: #000000;
}
#error-msg{
  font-size: 18px;
  color: red;
  text-align: center;
}